/* Error: Top-level selectors may not contain the parent selector "&".
 *    ,
 * 42 |   &:hover{
 *    |   ^
 *    '
 *   scss\_index.scss 42:3  @import
 *   scss\main.scss 2:9     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Top-level selectors may not contain the parent selector "&".\a    \2577 \a 42 \2502    &:hover{\d\a    \2502    ^\a    \2575 \a   scss\\_index.scss 42:3  @import\a   scss\\main.scss 2:9     root stylesheet';
}
