section#about{
  padding: 40px 0;
  background-color: $background-color;
}

.container{
  max-width: 800px;
  margin: 0 auto;
}

section#services
{
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 40px 0;
  background-color: $background-color;
}

.service{
  flex: 1;
  max-width: 300px;
  margin: 0 10px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid $gray-color;
  border-radius: 8px;
}

.cta-button{
  text-align: center;
  margin: 20px 0;
}